{% extends 'base.html.twig' %}

{% block body %}
    <h1>Booking</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if booking.dateStart %}{{ booking.dateStart|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{% if booking.dateEnd %}{{ booking.dateEnd|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('booking_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('booking_edit', { 'id': booking.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
